workflow-reminder-scheduler.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        -64
      ],
      "id": "ca3322aa-29ae-4878-a773-528a09c34cb7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fdcc18e6-e1bd-48ab-ab60-3d26dc02c391",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        48,
        -64
      ],
      "id": "9912468a-6d80-4d38-b5e1-99a7eb2512be",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=⏰ *Reminder!*  📝 {{ $json.message }}  _Nexus-AI_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        -192
      ],
      "id": "b62bc065-0b39-44dd-92c6-375bc2f3a967",
      "name": "Send a text message",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "YOUR_TELEGRAM_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://pcmmctpurvagqiyceepq.supabase.co/rest/v1/reminders?id=eq.{{ $('Code in JavaScript').item.json.id }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"apikey\": \"YOUR_SUPABASE_SERVICE_ROLE_JWT\",\n  \"Authorization\": \"Bearer YOUR_SUPABASE_SERVICE_ROLE_JWT\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"sent\": true}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        -192
      ],
      "id": "42940518-2703-43ca-aeec-ee78457b9a10",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date().toISOString();\n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: 'https://pcmmctpurvagqiyceepq.supabase.co/rest/v1/reminders?sent=eq.false&remind_at=lte.' + now,\n  headers: {\n    'apikey': 'YOUR_SUPABASE_SERVICE_ROLE_JWT',\n    'Authorization': 'Bearer YOUR_SUPABASE_SERVICE_ROLE_JWT'\n  }\n});\n\nreturn response.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -64
      ],
      "id": "15c50d7b-c669-4fce-ac2a-5a01a90ce2b2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        -144
      ],
      "id": "cc5c131a-be78-41b6-bfed-b5a5f86f2d86",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        496,
        32
      ],
      "id": "06ed5cca-f6ad-4101-b0d0-d18645bc2a31"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  }
}



